<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="max-image-preview:none, noimageindex">

{% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.header_image %}
          <img src="/assets/profile.jpg" alt="Logo" />
        {% endif %}

        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p>Email: <a href="mailto:richardmkit@gmail.com">richardmkit@gmail.com</a></p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
